<nav class="sidebar sidebar-offcanvas position-static" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo text-decoration-none text-warning" href="/"><h1>DivDev</h1></a>
      <a class="sidebar-brand brand-logo-mini text-decoration-none text-warning" href="/"><h1>DD</h1></a>
    </div>
    <ul class="nav">
      <li class="nav-item profile">
        <div class="profile-desc">
          <div class="profile-pic">
            <div class="count-indicator">
              <img class="img-xs rounded-circle " src="/images/avatars/<%= avatar %>">
              <span class="count bg-success"></span>
            </div>
            <div class="profile-name">
              <h6 class="mb-0 font-weight-normal text-light"><%= firstName %> <%= lastName %></h6>
              <small class="text-muted" id="role"><%= role %></small>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item nav-category">
       <hr>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" id="dashboardBtn" href="#">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" id="newArticleBtn" href="#">
          <span class="menu-icon">
            <i class="far fa-plus-square text-success"></i>
          </span>
          <span class="menu-title">New Article</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/article/myArticles">
          <span class="menu-icon">
            <i class="far fa-file-alt text-primary"></i>
          </span>
          <span class="menu-title">My Articles</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/article/allArticles">
          <span class="menu-icon">
            <i class="fas fa-list text-warning"></i>
          </span>
          <span class="menu-title">All Articles</span>
        </a>
      </li>
    </ul>
  </nav>