<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Fancybox-->
  <link rel="stylesheet" href="vendor/@fancyapps/fancybox/jquery.fancybox.min.css">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="css/custom.css">

  <!-- ---------------------------------------------- My CSS ---------------------------------------------- -->
  <link rel="stylesheet" href="css/home.css">

</head>

<body>
  <header class="header">
    <!-- Main Navbar-->
    <!-- Main Navbar-->
    <nav class="navbar navbar-expand-lg bg-dark">

      <div class="container">
        <!-- Navbar Brand -->
        <div class="navbar-header">
          <!-- Navbar Brand -->
          <a href="/" class="navbar-brand text-warning">
            <h2>DivDev</h2>
          </a>
        </div>
        <!-- Navbar Menu -->
        <div id="navbarcollapse" class="collapse navbar-collapse justify-content-end">
          <ul class="langs navbar-text">
            <div>
              <a class="btn bg-primary text-light fw-bold" id="login-btn" href="/auth/login">Login</a>
              <a class="btn bg-success text-light fw-bold" id="signup-btn" href="/auth/register">Signup</a>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Hero Section-->
  <section style="background: url(images/homeBanner.jpg); background-size: cover; background-position: center center"
    class="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h1>A Div that includes Developers</h1><a href="#" class="hero-link"></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Page Footer-->
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <h6 class="text-white">DivDev Blog</h6>
          </div>
          <div class="contact-details">
            <p>53 Broadway, Broklyn, NY 11249</p>
            <p>Phone: (+98) 919 4444 758</p>
            <p>Email: <a href="mailto:mehdigolzar.j@gmail.com">mehdigolzar.j@gmail.com</a></p>
            <ul class="social-menu">
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="menus d-flex">
            <ul class="list-unstyled">
              <li> <a href="#">My Account</a></li>
              <li> <a href="#">Add Listing</a></li>
              <li> <a href="#">Pricing</a></li>
              <li> <a href="#">Privacy &amp; Policy</a></li>
            </ul>
            <ul class="list-unstyled">
              <li> <a href="#">Our Partners</a></li>
              <li> <a href="#">FAQ</a></li>
              <li> <a href="#">How It Works</a></li>
              <li> <a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2022. All rights reserved. Your great site.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- JavaScript files-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/popper.js/umd/popper.min.js"> </script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="vendor/@fancyapps/fancybox/jquery.fancybox.min.js"></script>
  <script src="js/front.js"></script>


  <!-- ---------------------------------------------- My Script ---------------------------------------------- -->
</body>

</html>