.post {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;

}

.post a {
    color: #999;
    text-decoration: none;
  }

.post a,
i,
span {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

main.posts-listing {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
}

main.posts-listing .post {
    margin-bottom: 50px;
}

main.posts-listing .post-footer {
    font-size: 0.8em;
}



.post-meta {
    margin: 10px 0;
    font-size: 0.8em;
}

.post-meta .date {
    text-transform: uppercase;
    font-weight: 400;
}

.post-meta .date::after {
    display: none;
}

.post .category a {
    color: #999;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.post .date {
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa;
}

.post .avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.post .title,
.post .date,
.post .comments {
    font-weight: 400;
    color: #999;
    text-transform: capitalize;
}

.post .title i,
.post .date i,
.post .comments i {
    margin-right: 5px;
    font-size: 1.1em;
}

.post .title::after,
.post .date::after,
.post .comments::after{
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}


.post .meta-last::after {
    display: none;
}

/* Latest Posts Section Media Query ------------------------------------- */
@media (max-width: 767px) {
    .post {
        margin-bottom: 40px;
    }

    .post:last-of-type {
        margin-bottom: 0;
    }

}

.post button {
    border: none;
    background-color: rgb(98, 218, 1);
    font-size:1.2rem;
    font-weight: 550;
    text-shadow: 1px 0 5px rgb(0, 0, 0);
}


/* ----------------------------------------------------------------------- */
.summary {
    height: 4rem;
}

.article-card-image img {
    width: 100%;
    height: 20rem;
    max-height: 20rem;
}